.header,
.footer {
  background-color: aqua;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobre,
.home,
.error,
.produto {
  width: 100%;
  height: calc(100vh - 120px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
